<header>
    <div class="navbar navbar-dark bg-primary shadow-sm">
        <div class="navbar-brand align-content-center d-flex align-items-center">
            <i style="font-size: 30px;" class="fas fa-ship">
            </i>
            <strong style="font-size: 30px;margin-left: 15px;">Shop</strong>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="search products by name" [(ngModel)]="searchTerm"
                    (keyup)="search($event)">
            </div>
            <span class="fas fa-search search-icon"></span>
        </div>

        <button class="btn btn-primary" (click)="rediectToCart()">
            <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
            @if (cartItem$ | async; as cartItems) {
            <div style="font: 10px;" class="badge bg-danger">{{cartItems.cartItems.length}}</div>
            }
        </button>
    </div>
</header>